@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}
body {
  @apply bg-background;
  @apply text-main;
  font-size: 16px;
  @apply font-main;
}
.page-wrapper {
  @apply bg-background;
}
.max-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  @media only screen and (min-width: 1600px) {
    max-width: 1440px !important;
  }
  @media only screen and (min-width: 600px) {
    max-width: 90vw;
  }
}
.max-wrapper.readable {
  width: 100%;
  @media only screen and (min-width: 1600px) {
    max-width: 1200px !important;
  }
  @media only screen and (min-width: 600px) {
    max-width: 80vw;
  }
}
b,strong {
  @apply font-main font-bold;
}
h1,h2,h3,h4,h5 {
  @apply font-headerBold;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h1 {
  font-size: 22px;
  line-height: 1.2;
  @media (min-width: 1440px) {
    font-size: 75px !important;
  }
  @media (min-width: 375px) {
    font-size: calc( 22px + 53 * (100vw - 375px) / 1065);
  }
}
h2 {
  font-size: 20px;
  line-height: 1.2;
  @media (min-width: 1440px) {
    font-size: 67px !important;
  }
  @media (min-width: 375px) {
    font-size: calc( 20px + 47 * (100vw - 375px) / 1065);
  }
}
h3 {
  font-size: 18px;
  line-height: 1.2;
  @media (min-width: 1440px) {
    font-size: 40px !important;
  }
  @media (min-width: 375px) {
    font-size: calc( 18px + 22 * (100vw - 375px) / 1065);
  }
}
h4 {
  font-size: 16px;
  line-height: 1.2;
  @media (min-width: 1440px) {
    font-size: 35px !important;
  }
  @media (min-width: 375px) {
    font-size: calc( 35px + 0 * (100vw - 375px) / 1065);
  }
}
h5 {
  font-size: 15px;
  @media (min-width: calc(1440px)) {
    font-size: 35px !important;
  }
  @media (min-width: calc(375px)) {
    font-size: calc( 35px + 0 * (100vw - 375px) / 1065)
  }
}

.subtitle {
  font-size: 22px;
  @media (min-width: calc(1440px)) {
    font-size: 35px !important;
  }
  @media (min-width: calc(375px)) {
    font-size: calc( 22px + 13 * (100vw - 375px) / 1065);
  }
}
.larger {
  font-size: 20px;
  @media (min-width: calc(1440px)) {
    font-size: 25px !important;
  }
  @media (min-width: calc(375px)) {
    font-size: calc(20px + 5 * (100vw - 375px) / 1065);
  }
}
.smaller {
  font-size: 16px;
  @media (min-width: calc(1440px)) {
    font-size: 16px !important;
  }
  @media (min-width: calc(375px)) {
    font-size: calc(16px + 0 * (100vw - 375px) / 1065);
  }
}
.smallest {
  @apply font-main font-light;
  font-size: 14px !important;
}

p {
  @apply font-main font-light;
  margin-bottom: 1rem;
  min-height: 1rem;
  white-space: pre-line;
  font-size: 20px;
}
p:last-child {
  margin-bottom: 0;
}

@media (min-width: 1440px) {
  p {
    font-size: 20px !important;
  }
}
@media (min-width: calc(375px)){
  p {
    font-size: calc( 18px + 2 * (100vw - 375px) / ( 1440 - 375 ) );
  }
}
span {
  @apply font-main font-light;
}
span.regular {
  @apply font-main;
  font-weight: 400;
}
a:link, a:visited {
  @apply text-secondary;
  outline: 0;
}
a:hover, a.hover, a:focus {
  @apply text-secondary;
  text-decoration: underline;
  outline: 0;
}
.no-scroll {
  overflow: hidden;
}
.cliped-corner {
  clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
}
.cliped-corner::before {
  content: '';
  @apply w-[calc(100%-6px)] h-[calc(100%-6px)];
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
  clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
}
.green-underline {
  position: relative;
  margin-bottom: 3rem;
}
.green-underline::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 30px;
  height: 3px;
  @apply bg-green-500;
}

.skewed-background {
  position: relative;
  z-index: 1;
  top: -3rem;
}
.skewed-background::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0;
  -webkit-transform: skew(0deg,-2.5deg);
  -ms-transform: skew(0deg,-2.5deg);
  transform: skew(0deg,-2.5deg);
}

.poVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin: 10px 0;
  height: 0;
}
.poVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-in-from-left-leave-active,
.slide-in-from-left-enter-active {
  transition: 0.5s;
}
.slide-in-from-left-enter-from {
  transform: translate(-100%, 0);
}
.slide-in-from-left-leave-to {
  transform: translate(-100%, 0);
}

.mobile-sub-menu-slide-leave-active,
.mobile-sub-menu-slide-enter-active {
  transition: 0.5s;
}
.mobile-sub-menu-slide-enter-from {
  transform: translate(calc(100% - 2rem), 0);
}
.mobile-sub-menu-slide-leave-to {
  transform: translate(calc(100% - 2rem), 0);
}

.fade-leave-active,
.fade-enter-active {
  transition: 0.3s;
}
.fade-enter-from {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('~/assets/fonts/Poppins/Poppins-Thin.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('~/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('~/assets/fonts/Poppins/Poppins-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('~/assets/fonts/Poppins/Poppins-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}
